<style>
	.none{
		display:none;
	}
</style>



{% extends 'users/base.html' %}
{% block title %} Account Profile {% endblock %}

{% block body %}

<script>


	function getTransactionData(){
		$('#get_transaction_data').submit();
	}

	function getAccountData(){
		$('#get_account_data').submit();
	}


</script>

<input hidden id='transactionData' value='{{transactionData}}'>
<input hidden id='accountData' value='{{accountData}}'>

<h1>Welcome, {{ user.username }}</h1><br>

<style>
	.none{
		display:none;
	}
</style>
<p>{{response_message}}</p>

<br>

<div class="container-fluid">
	<div class="row">
		<button class="btn btn-success" onclick="getTransactionData()">Get Transaction Data</button>
	</div>
	<br>
	<div class="row">
		<button class="btn btn-success" onclick="getAccountData()">Get Account Data</button>
	</div>
	<div class="row">
		 <form class="form-horizontal" role="form" action="{% url 'users:invalidate' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="user_id" type="text" value="{{ user.id }}" hidden>
        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
	            <button type="submit" class="btn btn-success">Logout</button>
	        </div>
	    </div>
    </form>
	</div>
</div>

<div class="none">
	<form id="get_transaction_data" class="form-horizontal" role="form" action="{% url 'users:getTransactions' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="user_id" type="text" value="{{ user.id }}" hidden>
        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
	            <button type="submit" class="btn btn-success">Logout</button>
	        </div>
	    </div>
    </form>
    <form id="get_account_data" class="form-horizontal" role="form" action="{% url 'users:getAccounts' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="user_id" type="text" value="{{ user.id }}" hidden>
        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
	            <button type="submit" class="btn btn-success">Logout</button>
	        </div>
	    </div>
    </form>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6" id="displayTransactions">
			{{transactionData}}
		</div>
		<div class="col-md-6" id="displayAccounts">
			{{accountData}}
		</div>	
	</div>
</div>


{% endblock %}